#Core functionality - changes here should be rare!
/src/app.py                   @Myatty
/src/backend/database.py      @Myatty
/src/backend/routers/auth.py  @Myatty

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Myatty
